In [208]:
import pandas as pd
import json, io
import matplotlib.pyplot as plt

In [2]:
filename = "data_file.json"

In [6]:
# df = pd.read_json(filename, encoding='utf-8')

In [207]:
with io.open(filename, encoding='utf-8') as raw_json:
    decoded_json = json.loads(raw_json.read())
df = pd.io.json.json_normalize(decoded_json)
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('.', '_')\
    .str.replace('morning_', 'm_').str.replace('evening_', 'e_')
print(df.columns)
print(df.shape)
print(len(df.index))

Index(['day', 'month', 'year', 'store', 'm_date_time_str', 'm_user',
       'm_small_toys', 'm_medium_toys', 'm_big_toys', 'm_exchange', 'm_bolls',
       'm_sticks', 'm_sockets', 'm_pellet', 'm_candis', 'm_envelope',
       'm_reports', 'm_comment', 'm_ok_guns', 'm_bed_guns', 'm_mood',
       'm_power_reserve', 'm_plan', 'm_0', 'm_set', 'e_date_time_str',
       'e_user', 'e_small_toys_up', 'e_medium_toys_up', 'e_big_toys_up',
       'e_small_toys_down', 'e_medium_toys_down', 'e_big_toys_down',
       'e_small_toys', 'e_medium_toys', 'e_big_toys', 'e_exchange', 'e_cash',
       'e_cashless', 'e_collection_spending', 'e_prepayment', 'e_balance',
       'e_ok_guns', 'e_bed_guns', 'e_comment', 'e_are_you_good',
       'e_is_it_a_good_day', 'e_small_toys_win', 'e_medium_toys_win',
       'e_big_toys_wit'],
      dtype='object')
(772, 50)
772

In [209]:
df.dropna
print(df.shape)

(772, 50)

In [213]:
df.dtypes

day                       int32
month                     int32
year                      int32
store                    object
m_date_time_str          object
m_user                   object
m_small_toys             object
m_medium_toys            object
m_big_toys               object
m_exchange               object
m_bolls                  object
m_sticks                 object
m_sockets                object
m_pellet                 object
m_candis                 object
m_envelope               object
m_reports                object
m_comment                object
m_ok_guns                object
m_bed_guns               object
m_mood                   object
m_power_reserve          object
m_plan                   object
m_0                      object
m_set                    object
e_date_time_str          object
e_user                   object
e_small_toys_up          object
e_medium_toys_up         object
e_big_toys_up            object
e_small_toys_down        object
e_medium_toys_down       object
e_big_toys_down          object
e_small_toys             object
e_medium_toys            object
e_big_toys               object
e_exchange               object
e_cash                   object
e_cashless               object
e_collection_spending    object
e_prepayment             object
e_balance                object
e_ok_guns                object
e_bed_guns               object
e_comment                object
e_are_you_good           object
e_is_it_a_good_day       object
e_small_toys_win         object
e_medium_toys_win        object
e_big_toys_wit           object
dtype: object

In [184]:
col='m_user'
df[col].astype(str).str.strip('[]\'')

0         Виктория Новикова
1      Анастасия Черкасова
2           Адиля  Галиева
3           Садреева Эльза
4         Виктория Новикова
               ...
767       Юлдуз Бекмуратова
768       Раиса Загидуллина
769      Ибрагимов Ринальд
770      Виктория Новикова
771      Ринальд ибрагимов
Name: m_user, Length: 772, dtype: object

In [212]:
for col in df.columns:
    df[col] = df[col].astype(str).str.strip('[]\'')
    df[col] = df[col].astype(int, errors='ignore')
    
df

,day,month,year,store,m_date_time_str,m_user,m_small_toys,m_medium_toys,m_big_toys,m_exchange,...,e_prepayment,e_balance,e_ok_guns,e_bed_guns,e_comment,e_are_you_good,e_is_it_a_good_day,e_small_toys_win,e_medium_toys_win,e_big_toys_wit
0,3,4,2019,Парк Хаус,03.04.2019 12:43:47,Виктория Новикова,11,43,10,950,...,600,2000,"АК 47 черный', 'М-4 укороченный', 'G-36 черный...",", '', '', '', '', '', '', '', '',",,5,3,,,
1,3,4,2019,Ривьера,03.04.2019 18:23:27,Анастасия Черкасова,0,19,6,1050,...,650,0,", '', '', '', 'М-4 укороченный', '', '', '', '',",", '', '', '', '', '', '', '', '',",,1,2,,,
2,3,4,2019,Сити Центр,03.04.2019 18:36:43,Адиля Галиева,20,49,6,650,...,600,0,"АК 47 в дереве', 'М-4 укороченный', '', '', ''...",", '', '', '', '', '', '', '', '',","из выручки 150р нал,добавила их в размен.",1,1,,,
3,3,4,2019,СуварПлаза,03.04.2019 13:35:26,Садреева Эльза,2,40,6,900,...,0,300,"M-16', '', '', '', '', '', '', '', '',",", '', '', '', '', '', '', '', '',",,1,1,,,
4,4,4,2019,Парк Хаус,04.04.2019 10:46:25,Виктория Новикова,7,43,10,1026,...,600,3000,"АК 47 черный', 'М-4 укороченный', 'G-36 черный...",", '', '', '', '', '', '', '', '',","сделала выручку, как и хотела,я рада))",5,5,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,2,1,2020,Ривьера,02.01.2020 12:23:25,Юлдуз Бекмуратова,23,13,24,4250,...,2800,6000,"G-36 черный', '', '', '', '', '', '', '', '', ...","M-16', '', '', '', '', '', '', '', '',","Такси:100р оружие,\n100п пульки,\n350 скотч.\n...",5,4,5,2,3
768,3,1,2020,Парк Хаус,03.01.2020 23:09:12,Раиса Загидуллина,0,13,29,1350,...,600,12400,"АК 47 в дереве', 'АК 47 черный', 'M-4A1', '', ...",", '', '', '', '', '', '', '', '',",,5,5,0,1,0
769,3,1,2020,Ривьера,03.01.2020 10:29:04,Ибрагимов Ринальд,17,8,23,1600,...,1000,7900,"G-36 черный', '', '', '', '', '', '', '', '', ...","АК 47 черный', 'M-4A1', '', '', '', '', '', ''...",Может быть пересчёт на 150рублей была отмена н...,5,5,1,1,1
770,4,1,2020,Парк Хаус,04.01.2020 12:52:24,Виктория Новикова,1,9,32,1700,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
771,4,1,2020,Ривьера,04.01.2020 11:43:48,Ринальд ибрагимов,8,7,17,900,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [210]:
type(df.loc[[0],'m_small_toys'][0])
df.loc[[0],'m_small_toys'][0]

['11']

In [214]:
col = 'm_small_toys'
df[col] = df[col].astype(int)

ValueError: invalid literal for int() with base 10: 'nan'

,day,month,year,store,m_date_time_str,m_user,m_small_toys,m_medium_toys,m_big_toys,m_exchange,...,e_prepayment,e_balance,e_ok_guns,e_bed_guns,e_comment,e_are_you_good,e_is_it_a_good_day,e_small_toys_win,e_medium_toys_win,e_big_toys_wit
0,3,4,2019,Парк Хаус,03.04.2019 12:43:47,Виктория Новикова,11,43,10,950,...,600,2000,"АК 47 черный', 'М-4 укороченный', 'G-36 черный...",", '', '', '', '', '', '', '', '',",,5,3,,,
1,3,4,2019,Ривьера,03.04.2019 18:23:27,Анастасия Черкасова,0,19,6,1050,...,650,0,", '', '', '', 'М-4 укороченный', '', '', '', '',",", '', '', '', '', '', '', '', '',",,1,2,,,
2,3,4,2019,Сити Центр,03.04.2019 18:36:43,Адиля Галиева,20,49,6,650,...,600,0,"АК 47 в дереве', 'М-4 укороченный', '', '', ''...",", '', '', '', '', '', '', '', '',","из выручки 150р нал,добавила их в размен.",1,1,,,
3,3,4,2019,СуварПлаза,03.04.2019 13:35:26,Садреева Эльза,2,40,6,900,...,0,300,"M-16', '', '', '', '', '', '', '', '',",", '', '', '', '', '', '', '', '',",,1,1,,,
4,4,4,2019,Парк Хаус,04.04.2019 10:46:25,Виктория Новикова,7,43,10,1026,...,600,3000,"АК 47 черный', 'М-4 укороченный', 'G-36 черный...",", '', '', '', '', '', '', '', '',","сделала выручку, как и хотела,я рада))",5,5,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,2,1,2020,Ривьера,02.01.2020 12:23:25,Юлдуз Бекмуратова,23,13,24,4250,...,2800,6000,"G-36 черный', '', '', '', '', '', '', '', '', ...","M-16', '', '', '', '', '', '', '', '',","Такси:100р оружие,\n100п пульки,\n350 скотч.\n...",5,4,5,2,3
768,3,1,2020,Парк Хаус,03.01.2020 23:09:12,Раиса Загидуллина,0,13,29,1350,...,600,12400,"АК 47 в дереве', 'АК 47 черный', 'M-4A1', '', ...",", '', '', '', '', '', '', '', '',",,5,5,0,1,0
769,3,1,2020,Ривьера,03.01.2020 10:29:04,Ибрагимов Ринальд,17,8,23,1600,...,1000,7900,"G-36 черный', '', '', '', '', '', '', '', '', ...","АК 47 черный', 'M-4A1', '', '', '', '', '', ''...",Может быть пересчёт на 150рублей была отмена н...,5,5,1,1,1
770,4,1,2020,Парк Хаус,04.01.2020 12:52:24,Виктория Новикова,1,9,32,1700,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
771,4,1,2020,Ривьера,04.01.2020 11:43:48,Ринальд ибрагимов,8,7,17,900,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [190]:
df

,day,month,year,store,m_date_time_str,m_user,m_small_toys,m_medium_toys,m_big_toys,m_exchange,...,e_prepayment,e_balance,e_ok_guns,e_bed_guns,e_comment,e_are_you_good,e_is_it_a_good_day,e_small_toys_win,e_medium_toys_win,e_big_toys_wit
0,3,4,2019,Парк Хаус,03.04.2019 12:43:47,Виктория Новикова,11,43,10,950,...,600,2000,"АК 47 черный', 'М-4 укороченный', 'G-36 черный...",", '', '', '', '', '', '', '', '',",,5,3,,,
1,3,4,2019,Ривьера,03.04.2019 18:23:27,Анастасия Черкасова,0,19,6,1050,...,650,0,", '', '', '', 'М-4 укороченный', '', '', '', '',",", '', '', '', '', '', '', '', '',",,1,2,,,
2,3,4,2019,Сити Центр,03.04.2019 18:36:43,Адиля Галиева,20,49,6,650,...,600,0,"АК 47 в дереве', 'М-4 укороченный', '', '', ''...",", '', '', '', '', '', '', '', '',","из выручки 150р нал,добавила их в размен.",1,1,,,
3,3,4,2019,СуварПлаза,03.04.2019 13:35:26,Садреева Эльза,2,40,6,900,...,0,300,"M-16', '', '', '', '', '', '', '', '',",", '', '', '', '', '', '', '', '',",,1,1,,,
4,4,4,2019,Парк Хаус,04.04.2019 10:46:25,Виктория Новикова,7,43,10,1026,...,600,3000,"АК 47 черный', 'М-4 укороченный', 'G-36 черный...",", '', '', '', '', '', '', '', '',","сделала выручку, как и хотела,я рада))",5,5,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,2,1,2020,Ривьера,02.01.2020 12:23:25,Юлдуз Бекмуратова,23,13,24,4250,...,2800,6000,"G-36 черный', '', '', '', '', '', '', '', '', ...","M-16', '', '', '', '', '', '', '', '',","Такси:100р оружие,\n100п пульки,\n350 скотч.\n...",5,4,5,2,3
768,3,1,2020,Парк Хаус,03.01.2020 23:09:12,Раиса Загидуллина,0,13,29,1350,...,600,12400,"АК 47 в дереве', 'АК 47 черный', 'M-4A1', '', ...",", '', '', '', '', '', '', '', '',",,5,5,0,1,0
769,3,1,2020,Ривьера,03.01.2020 10:29:04,Ибрагимов Ринальд,17,8,23,1600,...,1000,7900,"G-36 черный', '', '', '', '', '', '', '', '', ...","АК 47 черный', 'M-4A1', '', '', '', '', '', ''...",Может быть пересчёт на 150рублей была отмена н...,5,5,1,1,1
770,4,1,2020,Парк Хаус,04.01.2020 12:52:24,Виктория Новикова,1,9,32,1700,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
771,4,1,2020,Ривьера,04.01.2020 11:43:48,Ринальд ибрагимов,8,7,17,900,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [113]:
'[dddssa]'.strip('[]')

tdf = pd.DataFrame({
    'day':[1,2],
    'user1':['g','m'],
    'user2':[['g'],['m']],
    'l' : [['a','b','b'], ['q','w','e','r']]
})

tdf

   day user1 user2             l
0    1     g   [g]     [a, b, b]
1    2     m   [m]  [q, w, e, r]

Index(['day', 'month', 'year', 'store', 'morning_date_time_str',
       'morning_user', 'morning_small_toys', 'morning_medium_toys',
       'morning_big_toys', 'morning_exchange', 'morning_bolls',
       'morning_sticks', 'morning_sockets', 'morning_pellet', 'morning_candis',
       'morning_envelope', 'morning_reports', 'morning_comment',
       'morning_ok_guns', 'morning_bed_guns', 'morning_mood',
       'morning_power_reserve', 'morning_plan', 'morning_0', 'morning_set',
       'evening_date_time_str', 'evening_user', 'evening_small_toys_up',
       'evening_medium_toys_up', 'evening_big_toys_up',
       'evening_small_toys_down', 'evening_medium_toys_down',
       'evening_big_toys_down', 'evening_small_toys', 'evening_medium_toys',
       'evening_big_toys', 'evening_exchange', 'evening_cash',
       'evening_cashless', 'evening_collection_spending', 'evening_prepayment',
       'evening_balance', 'evening_ok_guns', 'evening_bed_guns',
       'evening_comment', 'evening_are_you_good', 'evening_is_it_a_good_day',
       'evening_small_toys_win', 'evening_medium_toys_win',
       'evening_big_toys_wit'],
      dtype='object')