In [46]:
import pandas as pd
import matplotlib.pyplot as plt
from read_data import df
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [40]:
df.dtypes

income                int64
day                   int64
month                 int64
year                  int64
week_day              int64
store              category
m_user               object
m_small_toys          int64
m_medium_toys         int64
m_big_toys            int64
m_bolls               int64
m_pellet              int64
m_candis              int64
m_mood                int64
m_power_reserve       int64
m_plan               object
sample_count        float64
dtype: object

In [50]:
df.reset_index().set_index(['m_user']).income.count()

667

In [45]:
df.groupby(['m_user']).income.count().reset_index().set_index('date')

                      m_user  income
0              Адиля Галиева       3
1            Азалия Халикова       5
2                   Айгуль Ф       2
3           Айсина Магсумова      39
4            Алексей Нефедов       1
5           Алина Мингалеева      21
6                       Алия      12
7               Алия Ганиева      28
8           Алия Сагатдинова      13
9           Альбина Малышева       1
10       Анастасия Черкасова       2
11          Ангелина Вареник       5
12             Анжела Попова      18
13                  Анжелика       1
14         Анжелика Сабирова      15
15            Анна Ядринцева       2
16             Арина Галкина       4
17         Виктория Новикова     113
18       Воробьева Анастасия      28
19           Диана Богданова      34
20         Екатерина Поскина       1
21              Иван Олейник       1
22           Ильназ Муртазин       7
23        Кристина Мартынова      13
24           Лейсан Ахметова      19
25                      Лена       2
26              Леся Алимова       7
27                   Надежда       7
28  Настя(Запасной Оператор)       1
29                       Нло       5
30         Раиса Загидуллина      99
31                    Регина       3
32         Ринальд Ибрагимов       1
33             Сергей Кочкин       3
34            Эльза Садреева       5
35         Юлдуз Бекмуратова     110
36              Юля Халикова      36

In [42]:
df

,income,day,month,year,week_day,store,m_user,m_small_toys,m_medium_toys,m_big_toys,m_bolls,m_pellet,m_candis,m_mood,m_power_reserve,m_plan,sample_count
date,,,,,,,,,,,,,,,,,
2019-04-03,3300,3,4,2019,2,Парк Хаус,Виктория Новикова,11,43,10,4,2,0,5,5,9000,NaN
2019-04-03,650,3,4,2019,2,Ривьера,Анастасия Черкасова,0,19,6,0,3,0,2,5,2000,NaN
2019-04-03,300,3,4,2019,2,Сити Центр,Адиля Галиева,20,49,6,4,3,4,5,5,5000,NaN
2019-04-03,300,3,4,2019,2,СуварПлаза,Эльза Садреева,2,40,6,3,2,0,5,5,2000,NaN
2019-04-04,6350,4,4,2019,3,Парк Хаус,Виктория Новикова,7,43,10,4,2,0,5,5,7000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-01-01,21550,1,1,2020,2,Парк Хаус,Юлдуз Бекмуратова,8,22,31,4,4,4,5,5,15000,NaN
2020-01-02,23450,2,1,2020,3,Парк Хаус,Алексей Нефедов,19,29,8,3,2,3,5,5,40000,NaN
2020-01-02,10500,2,1,2020,3,Ривьера,Юлдуз Бекмуратова,23,13,24,4,0,3,5,5,10000,NaN
2020-01-03,26450,3,1,2020,4,Парк Хаус,Раиса Загидуллина,0,13,29,4,1,3,5,5,20000,NaN
2020-01-03,12850,3,1,2020,4,Ривьера,Ринальд Ибрагимов,17,8,23,3,2,3,5,5,12000,NaN